/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .checked{
    color: #edf1f5;
  }

  /*gradient fix */
  div.color-box {
    background: linear-gradient(25deg, #0da0bc 50%, transparent 50%);
  }
  /* .overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  } */